
* {
  @include box-sizing;
  line-height: $lh;
}

html,
body {
  color: $dark-purple;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background-color: $light-cream;
}



html {
  font-family: $serif-primary;
  letter-spacing: 0.13px;
 
  overflow-y: scroll;

  @media (min-width: 600px) {
     font-size: $fsp;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}



h6 {
    font-weight: $normal;
    font-family: $sans-serif;
    font-size: $fs5;
}

h1 {
  font-size: $fs3;
  font-family: $serif-primary;	
  //font-style: italic;
  font-weight: $normal;
 }
  

h2 {
  font-size: $fs4;
  font-weight: $normal;
  font-family: $sans-serif;		
  letter-spacing: 0.13px;	
  text-transform: uppercase;
}


h3 {
  font-size: $fs4;
  font-family: $serif-primary;	
  font-style: italic;

}

h4 {
  font-size: $fsp;
  font-family: $sans-serif;	
  font-weight: $normal;
  text-transform: uppercase;
}


h5 {
  
  font-size: $fs5;
  font-family: $sans-serif;	
  font-weight: $thick;
  text-transform: uppercase;

}




a {
  color: $blue;
  text-decoration: none;
}

blockquote, blockquote p {
    color: $dark-purple;
    font-style: italic;
    font-size: $fs4;
    line-height: $lh;
    text-align: center;
    letter-spacing: 0.003rem;

    
    
    

  p:last-child {
    margin-bottom: $lh;
  }
}



  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }

img {
  display: block;
  margin: 0 auto 0.4rem 0;
  max-width: 100%;
}

td {
  vertical-align: top;
}

.breathingspace {
  display: block;
  line-height: 8rem;
}


.nav-title {
  //text-transform: uppercase;
  font-size: $fs4;
 }

 .AllPosts {
  text-align: center;
 }


 #loadOverlay{
   display: none;
  }
