.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 750px;
  width: 80%;
}



.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;
  background-color: $cream;
  padding: 2rem 0 2rem 0;
  margin-bottom: 3.5rem;

    

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
    
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $blue;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;
    font-weight: $medium;

    &:active {
      color: $blue;
    }

    &:hover,
    &:focus {
      text-decoration-line: 3px;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $text-black;
    display: inline-block;
    opacity: .8;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      color: $blue;
      opacity: 1;
    }

    a:hover {
      color: $blue;
      border-bottom: 2px solid $blue;
    }
  }

  a {
    color: $text-black;
    font-family: $sans-serif;
    font-weight: $normal
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      max-width: 950px;
      text-align: left;
    }

  
    

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }

    li {
      text-transform: uppercase;
    } 
  }
}

footer {
  @include transition(all .2s ease-out);
  font-family: $sans-serif;
  margin: 2em 0 0 0;
  padding: 2rem 0 2rem 0;
  text-align: center;
  background-color: $dark-blue;
  text-transform: uppercase;
  font-weight: $normal;
  overflow: auto;


  a {
    color: $white;
  

    &:hover {
      color: $cream;
      border-bottom: 2px solid $cream;
    }

  }

  span {
    color: $white;
    font-size: $fsp;
  }

  .left-desc {
    font-family: $serif-primary;
    font-weight: $normal;
    font-style: italic;
    position: relative;
    text-transform: none;
  }

  
  .right-desc {
    font-family: $sans-serif;

    // align-content: center;
    // position: relative;
    

  }

  .footer-container {
    margin: auto;
   // position: relative;
    max-width: 950px;
    margin: 1rem auto 3rem auto;
  }
}


@media (min-width: 600px) {
  footer .left-desc {
    float: left;
  }


  footer .left-desc {
   float: right;
 }


}
