.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $sans-serif;
    letter-spacing: 0.5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: $fs5;
    font-weight: $thick;

    span {
      font-style: none;
    }
  }

  &-title {
    display: block;
    color: $default-shade;
    font-family: $serif-primary;
    margin: 1rem 0;
    text-align: center;
  }
  
  


  p {
    text-align: left;
    margin: 0 0 3rem 0;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    margin: 0 auto 0.4rem 0;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $serif-primary;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}
