// Colors

$light-cream: #FFFEFC;
$cream: #F7F0E3;
$text-black:#1B1B1B;
$blue: #2F4181;
$dark-blue: #253365;

$default-color: #555;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$shadow-color: rgba(0, 0, 0, 0);
$code-color: #bf616a;

/* Fonts
   ========================================================================== */

$serif-primary: 'Hoefler text','Calendas Plus', 'Hoefler Text', 'Georgia', serif;
$serif-secondary: 'Hoefler text','Georgia', 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'Montserrat', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
$monospaced: Menlo, Monaco, monospace;





   
   
/* Type Scale
   ========================================================================== */
/** * 12 & 16 as roots then powers of two. */

$fs1:60px;
$fs2:44px;
$fs3:36px;
$fs4:20px;
$fsp:18px;
$fs5:14px;


// Font weights

$normal: 400;
$medium: 600;
$thick: 700;

// Line Height
$lh: 1.8;
$lhsmall: 28px;

// Widths


@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
